@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Raw color tokens */
  --neutral-50: oklch(0.969 0.0093 99.98);
  --neutral-100: oklch(0.93 0.025 65.572);
  --neutral-200: oklch(0.858 0.05 63.139);
  --neutral-300: oklch(0.788 0.075 63.036);
  --neutral-400: oklch(0.718 0.101 61.13);
  --neutral-500: oklch(0.652 0.125 59.016);
  --neutral-600: oklch(0.554 0.104 58.875);
  --neutral-700: oklch(0.453 0.082 59.879);
  --neutral-800: oklch(0.345 0.06 59.711);
  --neutral-900: oklch(0.229 0.034 62.81);
  --neutral-950: oklch(0.19 0.025 60.163);

  --stone-50: oklch(0.958 0.004 17.233);
  --stone-100: oklch(0.918 0.008 17.296);
  --stone-200: oklch(0.835 0.016 17.473);
  --stone-300: oklch(0.75 0.024 17.711);
  --stone-400: oklch(0.662 0.034 18.045);
  --stone-500: oklch(0.573 0.045 18.543);
  --stone-600: oklch(0.489 0.037 18.504);
  --stone-700: oklch(0.402 0.029 18.443);
  --stone-800: oklch(0.309 0.021 18.337);
  --stone-900: oklch(0.209 0.011 18.101);
  --stone-950: oklch(0.175 0.008 17.992);

  --blue-50: oklch(0.938 0.03 279.623);
  --blue-100: oklch(0.874 0.063 279.057);
  --blue-200: oklch(0.749 0.129 277.447);
  --blue-300: oklch(0.63 0.198 273.839);
  --blue-400: oklch(0.529 0.26 268.542);
  --blue-500: oklch(0.465 0.302 264.262);
  --blue-600: oklch(0.395 0.254 264.307);
  --blue-700: oklch(0.321 0.204 264.396);
  --blue-800: oklch(0.244 0.149 264.604);
  --blue-900: oklch(0.162 0.089 263.737);
  --blue-950: oklch(0.134 0.07 263.373);

  --orange-50: oklch(0.956 0.016 32.01);
  --orange-100: oklch(0.913 0.033 34.308);
  --orange-200: oklch(0.827 0.068 34.444);
  --orange-300: oklch(0.744 0.107 34.764);
  --orange-400: oklch(0.666 0.145 34.825);
  --orange-500: oklch(0.6 0.181 34.763);
  --orange-600: oklch(0.51 0.151 34.773);
  --orange-700: oklch(0.418 0.121 35.07);
  --orange-800: oklch(0.318 0.087 35.169);
  --orange-900: oklch(0.211 0.049 35.401);
  --orange-950: oklch(0.178 0.035 37.258);

  --green-50: oklch(0.977 0.028 165.494);
  --green-100: oklch(0.954 0.054 165.265);
  --green-200: oklch(0.914 0.105 163.241);
  --green-300: oklch(0.883 0.151 160.602);
  --green-400: oklch(0.858 0.186 157.471);
  --green-500: oklch(0.841 0.212 153.739);
  --green-600: oklch(0.712 0.178 153.968);
  --green-700: oklch(0.577 0.143 154.338);
  --green-800: oklch(0.431 0.103 155.3);
  --green-900: oklch(0.274 0.061 157.564);
  --green-950: oklch(0.223 0.048 159.215);

  /* Shadcn */
  --background: var(--neutral-50);
  --foreground: var(--stone-950);
  --card: oklch(1 0 0);
  --card-foreground: var(--foreground);
  --popover: oklch(0% 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: var(--blue-600);
  --primary-foreground: var(--blue-50);
  --secondary: var(--orange-500);
  --secondary-foreground: var(--orange-50);
  --muted: var(--neutral-100);
  --muted-foreground: var(--stone-900);
  --accent: var(--green-700);
  --accent-foreground: var(--green-50);
  --destructive: var(--orange-600);
  --border: var(--blue-950);
  --input: oklch(1 0 0);
  --ring: var(--blue-950);
  --chart-1: var(--blue-400);
  --chart-2: var(--blue-300);
  --chart-3: var(--blue-200);
  --chart-4: var(--blue-100);
  --chart-5: var(--blue-50);
  --radius: 0.625rem;
  --sidebar: var(--neutral-50);
  --sidebar-foreground: var(--neutral-700);
  --sidebar-primary: var(--neutral-900);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-100);
  --sidebar-accent-foreground: var(--neutral-900);
  --sidebar-border: var(--neutral-200);
  --sidebar-ring: var(--neutral-300);

  /* Typography */
  --type-heading-1-font-size: 48px;
  --type-heading-1-line-height: 48px;
  --type-heading-1-letter-spacing: -1.4px;
  --type-heading-1-font-weight: 800;

  --type-heading-2-font-size: 30px;
  --type-heading-2-line-height: 30px;
  --type-heading-2-letter-spacing: -1px;
  --type-heading-2-font-weight: 700;

  --type-heading-3-font-size: 24px;
  --type-heading-3-line-height: 28.8px;
  --type-heading-3-letter-spacing: -0.8px;
  --type-heading-3-font-weight: 600;

  --type-heading-4-font-size: 20px;
  --type-heading-4-line-height: 24px;
  --type-heading-4-letter-spacing: -0.4px;
  --type-heading-4-font-weight: 600;

  --type-monospaced-font-size: 16px;
  --type-monospaced-line-height: 24px;
  --type-monospaced-letter-spacing: -1.4px;
  --type-monospaced-font-weight: 400;

  --type-paragraph-large-font-size: 18px;
  --type-paragraph-large-line-height: 27px;
  --type-paragraph-large-letter-spacing: 0;
  --type-paragraph-large-regular-font-weight: 400;
  --type-paragraph-large-medium-font-weight: 500;
  --type-paragraph-large-bold-font-weight: 600;

  --type-paragraph-font-size: 16px;
  --type-paragraph-line-height: 24px;
  --type-paragraph-letter-spacing: 0;
  --type-paragraph-regular-font-weight: 400;
  --type-paragraph-medium-font-weight: 500;
  --type-paragraph-bold-font-weight: 600;

  --type-paragraph-small-font-size: 14px;
  --type-paragraph-small-line-height: 20px;
  --type-paragraph-small-letter-spacing: 0;
  --type-paragraph-small-regular-font-weight: 400;
  --type-paragraph-small-medium-font-weight: 500;

  --type-paragraph-mini-font-size: 12px;
  --type-paragraph-mini-line-height: 16px;
  --type-paragraph-mini-letter-spacing: 0;
  --type-paragraph-mini-regular-font-weight: 400;
  --type-paragraph-mini-medium-font-weight: 500;
  --type-paragraph-mini-bold-font-weight: 600;

  --type-caption-font-size: 14px;
  --type-caption-line-height: 21px;
  --type-caption-letter-spacing: -1px;
  --type-caption-font-weight: 500;

  /* Shadows */
  --shadow-token-2xs: 0px 1px 0px 0px rgb(0 0 0 / 0%);
  --shadow-token-xs: 0px 1px 2px 0px rgb(0 0 0 / 0%);
  --shadow-token-sm: 0px 1px 3px 0px rgb(0 0 0 / 10%), 0px 1px 2px -1px rgb(0 0 0 / 10%);
  --shadow-token-md: 0px 4px 6px -1px rgb(0 0 0 / 10%), 0px 2px 4px -2px rgb(0 0 0 / 10%);
  --shadow-token-lg: 0px 10px 15px -3px rgb(0 0 0 / 10%), 0px 4px 6px -4px rgb(0 0 0 / 10%);
  --shadow-token-xl: 0px 20px 25px -5px rgb(0 0 0 / 10%), 0px 8px 10px -6px rgb(0 0 0 / 10%);
  --shadow-token-2xl: 0px 25px 50px -12px rgb(0 0 0 / 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--font-body);
  --font-display: var(--font-heading);
  --font-mono: var(--font-code);
  --shadow-2xs: var(--shadow-token-2xs);
  --shadow-xs: var(--shadow-token-xs);
  --shadow-sm: var(--shadow-token-sm);
  --shadow-md: var(--shadow-token-md);
  --shadow-lg: var(--shadow-token-lg);
  --shadow-xl: var(--shadow-token-xl);
  --shadow-2xl: var(--shadow-token-2xl);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Shadcn */

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.87 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.371 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.809 0.105 251.813);

  --chart-2: oklch(0.623 0.214 259.815);

  --chart-3: oklch(0.546 0.245 262.881);

  --chart-4: oklch(0.488 0.243 264.376);

  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-body;
  }
}

::-webkit-scrollbar {
  display: none;
}

[data-scroll-locked][data-scroll-locked] {
  overflow: scroll !important;
}

/* Typography */

.type-heading-1,
.type-heading-2,
.type-heading-3,
.type-heading-4 {
  font-family: var(--font-heading), Georgia, serif;
}

.type-heading-1 {
  font-size: var(--type-heading-1-font-size);
  line-height: var(--type-heading-1-line-height);
  letter-spacing: var(--type-heading-1-letter-spacing);
  font-weight: var(--type-heading-1-font-weight);
}

.type-heading-2 {
  font-size: var(--type-heading-2-font-size);
  line-height: var(--type-heading-2-line-height);
  letter-spacing: var(--type-heading-2-letter-spacing);
  font-weight: var(--type-heading-2-font-weight);
}

.type-heading-3 {
  font-size: var(--type-heading-3-font-size);
  line-height: var(--type-heading-3-line-height);
  letter-spacing: var(--type-heading-3-letter-spacing);
  font-weight: var(--type-heading-3-font-weight);
}

.type-heading-4 {
  font-size: var(--type-heading-4-font-size);
  line-height: var(--type-heading-4-line-height);
  letter-spacing: var(--type-heading-4-letter-spacing);
  font-weight: var(--type-heading-4-font-weight);
}

.type-monospaced {
  font-family: var(--font-code), "Courier New", monospace;
  font-size: var(--type-monospaced-font-size);
  line-height: var(--type-monospaced-line-height);
  letter-spacing: var(--type-monospaced-letter-spacing);
  font-weight: var(--type-monospaced-font-weight);
}

.type-paragraph-large,
.type-paragraph-large-medium,
.type-paragraph-large-bold,
.type-paragraph,
.type-paragraph-medium,
.type-paragraph-bold,
.type-paragraph-small,
.type-paragraph-small-medium,
.type-paragraph-mini,
.type-paragraph-mini-medium,
.type-paragraph-mini-bold,
.type-caption {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

.type-paragraph-large {
  font-size: var(--type-paragraph-large-font-size);
  line-height: var(--type-paragraph-large-line-height);
  letter-spacing: var(--type-paragraph-large-letter-spacing);
  font-weight: var(--type-paragraph-large-regular-font-weight);
}

.type-paragraph-large-medium {
  font-size: var(--type-paragraph-large-font-size);
  line-height: var(--type-paragraph-large-line-height);
  letter-spacing: var(--type-paragraph-large-letter-spacing);
  font-weight: var(--type-paragraph-large-medium-font-weight);
}

.type-paragraph-large-bold {
  font-size: var(--type-paragraph-large-font-size);
  line-height: var(--type-paragraph-large-line-height);
  letter-spacing: var(--type-paragraph-large-letter-spacing);
  font-weight: var(--type-paragraph-large-bold-font-weight);
}

.type-paragraph {
  font-size: var(--type-paragraph-font-size);
  line-height: var(--type-paragraph-line-height);
  letter-spacing: var(--type-paragraph-letter-spacing);
  font-weight: var(--type-paragraph-regular-font-weight);
}

.type-paragraph-medium {
  font-size: var(--type-paragraph-font-size);
  line-height: var(--type-paragraph-line-height);
  letter-spacing: var(--type-paragraph-letter-spacing);
  font-weight: var(--type-paragraph-medium-font-weight);
}

.type-paragraph-bold {
  font-size: var(--type-paragraph-font-size);
  line-height: var(--type-paragraph-line-height);
  letter-spacing: var(--type-paragraph-letter-spacing);
  font-weight: var(--type-paragraph-bold-font-weight);
}

.type-paragraph-small {
  font-size: var(--type-paragraph-small-font-size);
  line-height: var(--type-paragraph-small-line-height);
  letter-spacing: var(--type-paragraph-small-letter-spacing);
  font-weight: var(--type-paragraph-small-regular-font-weight);
}

.type-paragraph-small-medium {
  font-size: var(--type-paragraph-small-font-size);
  line-height: var(--type-paragraph-small-line-height);
  letter-spacing: var(--type-paragraph-small-letter-spacing);
  font-weight: var(--type-paragraph-small-medium-font-weight);
}

.type-paragraph-mini {
  font-size: var(--type-paragraph-mini-font-size);
  line-height: var(--type-paragraph-mini-line-height);
  letter-spacing: var(--type-paragraph-mini-letter-spacing);
  font-weight: var(--type-paragraph-mini-regular-font-weight);
}

.type-paragraph-mini-medium {
  font-size: var(--type-paragraph-mini-font-size);
  line-height: var(--type-paragraph-mini-line-height);
  letter-spacing: var(--type-paragraph-mini-letter-spacing);
  font-weight: var(--type-paragraph-mini-medium-font-weight);
}

.type-paragraph-mini-bold {
  font-size: var(--type-paragraph-mini-font-size);
  line-height: var(--type-paragraph-mini-line-height);
  letter-spacing: var(--type-paragraph-mini-letter-spacing);
  font-weight: var(--type-paragraph-mini-bold-font-weight);
}

.type-caption {
  font-size: var(--type-caption-font-size);
  line-height: var(--type-caption-line-height);
  letter-spacing: var(--type-caption-letter-spacing);
  font-weight: var(--type-caption-font-weight);
}
